.max-w-5xl.mx-auto.my-32
  h1.text-7xl.font-bold.text-yellow-500.font-serif.tracking-tight.max-w-xl.leading-tight Get your Twitter digests
  .mt-8.underline = link_to 'Sign in with Twitter', twitter_sign_in_path, class: 'text-color-strong text-xl font-bold'
