@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "sapien";


.svg-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}

.svg-icon-current-color * {
  fill: currentColor;
}

.svg-icon-not-found {
  width: 10px;
  height: 10px;
  background: black;
}


.background-color {
  @apply bg-white;
}
.text-color {
  @apply text-gray-800;
}
.text-color-strong {
  @apply text-black;
}
.text-color-weak {
  @apply text-gray-200;
}
.form-input {
}
.form-select {
}
.theme-toggle-light {
  @apply block;
}
.theme-toggle-dark {
  @apply hidden;
}
.border-color {
  @apply border-gray-300;
}

@media (prefers-color-scheme: dark) {
  .background-color {
    @apply bg-gray-900;
  }
  .text-color {
    @apply text-gray-300;
  }
  .text-color-strong {
    @apply text-white;
  }
  .text-color-weak {
    @apply text-gray-800;
  }
  .form-input {
    @apply bg-gray-900 border-gray-600 text-white;
  }
  .form-select {
    @apply bg-gray-900 border-gray-600 text-white;
  }
  .theme-toggle-light {
    @apply hidden;
  }
  .theme-toggle-dark {
    @apply block;
  }
  .border-color {
    @apply border-gray-800;
  }
}


.sk-cube-grid {
  width: 80px;
  height: 80px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
